body{
    background-image: url(fondoblaco.jpg);
    background-repeat: repeat;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #FFE1E5;
    width: 100%;
}
li{
    float: left;
}
li a {
    display: block;
    color:#d83651 ;
    font-size: 20px;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-family: Garamond, serif;
}
li a:hover {
    background-color: #f1c7ce;
}
.active{
    background-color:#FFB5C1 ;
}
h2{
    color:#D6465D;
     font-family: Garamond, serif;
     text-align: center;
     font-size: 30px;
}
div.gallery{
    border: 1px solid #B5606E;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
div.gallery:hover{
    border: 1px solid pink;
}
div.gallery img{
    width: 100%;
    height: auto;
}
div.desc{
    padding: 15px;
    text-align: center;
}
table{
    font-family: Garamond, serif;
    border-collapse: collapse;
    border: 1px solid #B5606E;
    
}
td, th {
    border: 1px solid #B5606E;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #f1c7ce;
}
tr:hover{
    background-color: #FFB5C1;
}
.tr1{
    text-align: center;
}
table.center{
    margin-left: auto;
    margin-right: auto;
}

